*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    /* background color */
   --bg-primary-color: rgb(24, 23, 23);
   --bg-fill-color: white;
   --bg-food-color: red;

   /* Text color */
   --text-primary-color: rgb(253, 224, 95);

   /* Spacing variables */
   --space-xs: 4px;
   --space-sm: 8px;
   --space-md: 16px;
   --space-lg: 24px;
   --space-xl: 32px;
   --space-2xl: 40px;
   --space-3xl: 48px;

   /* Border Color */
   --border-primary-color: rgb(92, 78, 0);

   /* Border Radius */
   --border-radius-xs: 4px;
   --border-radius-sm: 8px;
   --border-radius-md: 16px;
   --border-radius-lg: 24px;
   --border-radius-xl: 32px;
   --border-radius-2xl: 40px;
   --border-radius-3xl: 48px;


}


html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main, section{
    width: 100%;
    height: 100%;
}

section{
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(35, 15, 54);
  gap: var(--space-lg);
  /* border: 2px solid gold;
  border-radius: 7%; */
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between; /* 10 min yha ho gya video me  */
    
}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    
}

.block{
    /* height: 30px;
    width: 30px; */
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}