*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2d77c594-f59b-483e-9b20-19b7f84ed21d/dkmupoj-929d0bbb-d47a-4be0-b636-58366838d2b7.jpg/v1/fill/w_1194,h_669,q_70,strp/cyberpunk_anime_city_wallpaper_night_rain_aesthe_by_purewallfr_dkmupoj-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi8yZDc3YzU5NC1mNTliLTQ4M2UtOWIyMC0xOWI3Zjg0ZWQyMWQvZGttdXBvai05MjlkMGJiYi1kNDdhLTRiZTAtYjYzNi01ODM2NjgzOGQyYjcuanBnIiwiaGVpZ2h0IjoiPD03MTgiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiIvd20vMmQ3N2M1OTQtZjU5Yi00ODNlLTliMjAtMTliN2Y4NGVkMjFkL3B1cmV3YWxsZnItNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.7U6DY0qG46to8YV8W4hZj-TjJ-KsNhf6309_7kW0wME');
    object-fit: cover;
    object-position: center;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    
}

h1{
    font-size: 10vw;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}